<div ng-controller="MainController" class="full-height row-height-10">
    <it-side-menus>
        <it-side-menu-header>
            <!-- Header Logo -->
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span><img src="assets/img/SCPA_Suppliers_50px.png" width="32" height="32"/></span>
                    T4HTML
                </a>
            </div>

            <!-- Header Menu-->
            <div class="collapse navbar-collapse">
                <div dropdown class="nav navbar-nav navbar-right white">
                    <button class="btn white loginButton" type="button" dropdown-toggle>
                        <i class="glyphicon glyphicon-user white">&nbsp;{{$root.user}}&nbsp;</i><span class="caret white"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-click="changeLanguage('fr_FR')" ng-cloak>
                                {{'GLOBAL.FRENCH_MENUITEM' | translate}}
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-ok':currentLanguage == 'fr_FR', '':currentLanguage !== 'fr_FR'}">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a ng-click="changeLanguage('en_GB')" ng-cloak>
                                {{'GLOBAL.ENGLISH_MENUITEM' | translate}}
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-ok':currentLanguage == 'en_GB', '':currentLanguage !== 'en_GB'}">
                                </i>
                            </a>
                        </li>
                        <li>
                            <a ng-click="changeLanguage('de_DE')" ng-cloak>
                                {{'GLOBAL.GERMAN_MENUITEM' | translate}}
                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-ok':currentLanguage == 'de_DE', '':currentLanguage !== 'de_DE'}">
                                </i>
                            </a>
                        </li>
                        <li class="divider" ng-show="$root.user"></li>
                        <li ng-show="$root.user">
                            <a ng-click="authService.logout()" ng-cloak>
                                {{'GLOBAL.LOGOUT_MENUITEM' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </it-side-menu-header>
        <it-side-menu>
            <!-- Side Menu -->
            <ul it-nav-active="active" class="nav navbar-nav nav-pills nav-stacked list-group row-height-5">
                <h2>{{'GLOBAL.ITESOFT_FILE' | translate}}</h2>
                <li it-collapsed-item ng-repeat="(key,blockListFilterByOrigin) in blocks">

                    <h1 ng-if="selectedFile == key" class="btn btn-lg btn-success col-xs-12" ng-click="editFile(key)">{{key}}</h1>
                    <h1 ng-if="selectedFile != key" class="btn btn-lg btn-primary col-xs-12" ng-click="editFile(key)">{{key}}</h1>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-pills nav-stacked directive-list-group row-height-5">
                <h2>{{'GLOBAL.ITESOFT_COMPONENT' | translate}}</h2>
                <li it-collapsed-item>
                    <h1 class="btn btn-lg btn-primary col-xs-12" >SelectBox</h1>
                    <h1 class="btn btn-lg btn-primary col-xs-12" >LazyGrid</h1>
                    <h1 class="btn btn-lg btn-primary col-xs-12" >Popup</h1>
                </li>
            </ul>
        </it-side-menu>
        <it-side-menu-content>
            <!-- WebApp Content -->

            <!-- View container -->
            <div  class="container-fluid row-height-10">
                <toast class="toaster"></toast>
                <!-- View title -->
                <div class="row" ng-show="$root.pageTitle && $root.pageTitle.length > 0">
                    <div class="it-view-header col-md-12">
                        <h3>{{$root.pageTitle | translate}}</h3>
                        <hr/>
                    </div>
                </div>
                <!-- View content -->
                <div ng-view class="ng-view-class row-height-10"></div>

            </div>
        </it-side-menu-content>
    </it-side-menus>
</div>