<div class="container" ng-controller="LoginController">
    <div class="row">
        <div class="center-block col-xs-6 col-md-4 login-block">
            <div class="width-300">
                <img src="assets/img/SCPA_Suppliers_300px.png">
                <br>
                <h1 class="text-center">Music Manager</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block col-xs-6 col-md-4 login-block">
            <form class="form-login width-300" role="form" name="formLogin" ng-submit="authService.login(formLogin.username.$viewValue)">
                <div class="form-group">
                    <input it-input
                           class="form-control floating-label"
                           type="text"
                           name="username"
                           it-text="{{'GLOBAL.LOGIN.USER_LABEL' | translate}}"
                           ng-model="loginData.login"
                           it-error="message"
                           autocomplete
                           required
                           autofocus>
                </div>
                <div class="form-group">
                    <input it-input
                           class="form-control floating-label"
                           type="password"
                           name="password"
                           it-text="{{'GLOBAL.LOGIN.PASSWORD_LABEL' | translate}}"
                           ng-model="loginData.password"
                           autocomplete>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block"
                            type="submit"
                            name="submit"
                            translate>GLOBAL.LOGIN.SUBMIT_BUTTON_LABEL</button>
                </div>
            </form>
        </div>
    </div>
</div>
